<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>about</title>
</head>
<body>
    <div class="wrapper">
    {{>header}}
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error rerum sint quam, velit cum aliquid incidunt minima asperiores optio, rem quis nulla? Possimus at aperiam distinctio fuga voluptates vero ipsum.
    <main class="">
            <h2>{{title}}</h2>
    <p>{{name}}</p>
    <img src={{img}} alt="">
    </main>

    {{>footer}}
    </div>
    <script src="js/app.js"></script>

</body>
</html>
<!-- pug.js ejs handlebars -->